<html>
    <head>
        <title>Ghost Writer</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <link rel="stylesheet" href="/static/css/main.css">
    </head>
    <body>
        <label for="backend">Back end</label>
        <select id="backend">
            {% for ghost in ghosts_available %}
            <option value='{{ghost}}'>{{ghost}}</option>
            {% endfor %}
        </select>
        <label for="lastWord">Last word</label>
        <input type="text" id="lastWord">
        <br/>
        <br/>
        <br/>
        <center>
            <textarea id="suggestion" cols="40" rows="40"></textarea>
            <textarea id="writer" cols="40" rows="40"></textarea>
        </center>
    </body>
    <script type="text/javascript" src="/static/js/main.js"></script>
</html>